{% extends 'base.html.twig' %}

{% block title %}About{% endblock %}

{% block body %}

<div class="card p-5 text-center">

<h1 class="mb-3">

À Propos du projet

</h1>

<p class="text-muted">

ceci est un projet de blog tech réalisé avec Symfony PAR MBOSSEU BRAD BRUEL

il contient  des articles sur la technologie et le développement, ainsi qu'une section de commentaires pour chaque article.
</p>

</div>

{% endblock %}