{% extends 'base.html.twig' %}

{% block title %}Tech Blog{% endblock %}

{% block body %}

<h1>Tech blog</h1>
<p>Latest articles about IT and development.</p>

<hr>

{% for post in posts %}

<h2>
    <a href="{{ path('app_post_show', {id: post.id}) }}">
        {{ post.title }}
    </a>
</h2>

<p>{{ post.content }}</p>

<hr>

{% endfor %}

{% endblock %}